.footer{
  background-color: #fef8f6;

  &__holder{
    padding-top: 107px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo{
    padding-bottom: 23px;
  }

  &__address{
    font-size: 18px;
    padding-bottom: 20px;
    max-width: 202px;
  }

  &__mail{
    padding-bottom: 10px;
    font-size: 18px
  }

  &__social-media{
    display: flex;
  }

  &__social-media-link{
    padding-right: 25px;
  }

  &__main-link{
    padding-bottom: 31px;
    font-size: 18px;
    color: #1A0A03;
  }

  &__link-list{
    padding-top: 40px;
  }

  &__link-item{
    padding-bottom: 10px;
    font-size: 18px;
  }

  &__link{
    color: #1A0A03;
  }

  &__support-column{

  }

  &__contact-column{
    padding-left: 90px;
  }

  &__text{
    max-width: 240px;
    padding-top: 31px;
    padding-bottom: 38px;
  }

  &__line{
    border-bottom: 1px solid #A6A4A4;
    opacity: 0.2;
    padding-top: 40px;
  }

  &__copyright{
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}