.signup{

  &__holder{
    display: flex;
    flex-wrap: wrap;
  }

  &__background-holder{
    background-color: rgba(129, 168, 218, 0.1);
    padding-left: 60px;
    padding-right: 70px;
    max-width: 657px;
    border-radius: 5px;
  }

  &__content{
    max-width: 525px;
    padding-top: 80px;
    padding-bottom: 63px;
  }

  &__heading{
    font-family: Source Serif Pro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    padding-bottom: 20px;
  }

  &__desc{
    font-size: 18px;
    padding-bottom: 40px;
  }

  &__input{
    width: 380px;
    height: 52px;
    padding-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(129, 168, 218, 0.01);
  }

  &__button{
    width: 96px;
    height: 52px;
    border-style: none;
    background-color: #EE5514;
    color: white;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    cursor: pointer;

    &:hover {
      transition: ease-in 0.3s;
      background-color: #3dc8f8;
      color: white;
    }
  }
}
