.testimonials{

  padding-bottom: 140px;

  &__title{
    font-family: Source Serif Pro, serif;
    font-size: 44px;
    line-height: 57px;
    padding: 0 0 60px;
    margin: 0 auto;
    text-align: center;
  }

  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content-holder{
    max-width: 360px;
    margin-right: 115px;
  }

  &__profile-pic{
    padding-bottom: 45px;
  }

  blockquote {
    font-size: 1.5em;
    margin: 0;
  }

  blockquote:before {
    content: open-quote;
  }

  blockquote:before,
   {
    display: inline-block;
    vertical-align: bottom;
    color: #EE5514;
    opacity: 0.1;
    font-size: 4em;
    top: .2em;
    position: relative;
  }

  &__caption{
    font-weight: 600;
    font-size: 22px;
    font-family: Source Serif Pro, serif;
    padding-bottom: 15px;
  }

  &__content{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 15px;
  }

  &__name{
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 15px;

  &__desc{
    font-size: 14px;
      }
    }
  }
