.video{
  padding: 150px 0 0;

  &__content-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content{
    max-width: 340px;
  }

  &__content-subtitle{
    color: #EE5514;
    font-family: Source Serif Pro, serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0 0 10px;
  }

  &__content-title{
    font-family: Source Serif Pro, serif;
    font-size: 44px;
    line-height: 57px;
    padding: 0 0 20px;
  }

  &__play{
    position: relative;
  }

  &__play-button{
    position: absolute;
    z-index: 10;
    top: 140px;
    left: 195px;
  }

  &__img{
    position: absolute;
    right: 40px;
    top: 40px;
  }
}