*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #1A0A03;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 600;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
 }

.logo {
  max-width: 95px;
}

.button{
  padding: 15px 30px;
  width: 137px;
  height: 59px;
  background-color: #EE5514;
  color: white;
  border-radius: 5px;

  &:hover {
    transition: ease-in 0.3s;
    background-color: white;
    color: #EE5514;
  }
}